body {width: auto; padding: 10px;}
#start {width: auto; padding: 10px; text-align: center;}
#test {margin: auto; border:rgb(6, 86, 177) 3px solid; padding:20px 40px 40px 40px; background-color:rgb(185, 201, 245); width:50%;} 
#test_status {margin: auto; padding-bottom: 20px;text-align: center;}
#timer {position: absolute; top: 20px; right: 50px;}
#answer{margin: auto; text-align: center;}
form{margin: auto; text-align: center;}
#highScoreMain{position: absolute; top:20px; left: 20px;}
button {margin: 40px;}
h1 {margin: auto; text-align: center;}